[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/greycodee/hexo-theme-pure.git
[submodule "themes/vexo"]
	path = themes/vexo
	url = git@github.com:greycodee/hexo-theme-vexo.git 
